name: Run Daily Journal

on:
  push:
    branches: [ main ]
  schedule:
    - cron: "0 8 * * *"  # every day at 8:00 UTC

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'


      - name: Run Journal.py
        run: python3 Journal.py
 git add .
git commit -m "Automated journal update ..."
git push

